@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
    font-family: 'Raleway', sans-serif;
}

.body-bg{
    background-color: black;
}

.body-bg2 {
    background: #333 url('../img/bg.jpg') no-repeat center center / cover;
}

h1,
h2 {
    font-weight: 200;
    margin: 0.4rem;
    color: #fff;
}

p.subheader {
    font-size: 2rem;
    color: #aaa;
}

.container {
    color: #fff;
}

.container .index-block{
    margin-top: 30vh;
}

.container .block-404{
    margin-top: 7%;
}

social a:hover > img{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}


.social a:hover i{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: all ease 0.3s;
    opacity: .7;
}

.social img {
    width: 15px;
}

.social a i{
    font-size: 16px;
    color: #fff;
}

.social a i.fa-telegram-plane{
    font-size: 18px;
}

.index-block .social {
    margin-top: 20px;    
    margin-left: 70px;
    z-index: 1;
    position: relative;
}

.social a {
    margin-right: 20px;
}

.social a:hover img {
    opacity: .6;
    transition: all ease 0.3s;
}

.social a:last-child {
    margin-right: 0px;
}

.single-card {
    background-color:black;
    padding: 2rem;
}

.single_post {
    width: 30%;
}

.card-header {
    color:#212529;
}

.card-body {
    color: black;
}

.table td, .table th {
    vertical-align: middle;
}

/* Cursor */
.txt-type>.txt {
    border-right: 0.2rem solid #777;
}

@media(min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
    }

    h1 {
        font-size: 3rem;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
