{% extends "_base.html" %}

{% block title %}
<title>K4W | Admin page</title>
{% endblock %}


{% block content %}

<body class="d-flex flex-column h-100 body-bg2">
    <header>
        <div class="container">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="{{  url_for('index')  }}">K4W</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{  url_for('index')  }}">Home <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{  url_for('projects')  }}">Projects</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item active">
                          <a class="nav-link" href="{{  url_for('projects_list')  }}">Project List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{  url_for('logout')  }}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{  url_for('login')  }}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <!-- end of Navbar -->
        </div>
    </header>



    <main class="flex-shrink-0">
        <div class="container">
            <!-- flash message -->
            {% with flash_messages = get_flashed_messages(True) %}
            {% if flash_messages %}
            {% for cat, msg in flash_messages %}
            <div class="alert alert-{{ cat }} alert-dismissible fade show bg-light" role="alert">
                <strong>{{ msg }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- end of flash message -->
            <div class="block-404">
                <h2 class="display-3 text-center mb-3">Admin Page</h2>
                <section id="categories">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <div class="card">
                            <div class="card-header text-center ">
                              <h4>Project List</h4>
                            </div>
                            <table class="table table-striped">
                              <thead class="thead-dark">
                                <tr>
                                  <th>#</th>
                                  <th>Name</th>
                                  <th>Stack</th>
                                  <th></th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for project in projects %}
                                <tr>
                                  <td>{{ (project.id+1) }}</td>
                                  <td>{{ project.name }}</td>
                                  <td>{{ project.stack }}</td>
                                  <td>
                                    <a href="#" class="btn btn-secondary">
                                      <i class="fas fa-pencil-alt mr-2"></i> Edit
                                    </a>
                                  </td>
                                  <td>
                                    <form action="{{ url_for('projects_list') }}" method="POST">
                                      <input type="hidden" value="{{ project.id }}" name="project_to_del">
                                      <button type="submit" class="btn btn-danger"><i class='fas fa-trash mr-2'></i> Remove</button>
                                    </form>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            <div class="px-4 my-3">
                              <a href="{{ url_for('admin_add_project') }}" class="btn btn-success btn-block">
                                <i class="fas fa-plus mr-2"></i> Add Project
                              </a>
                            </div>
                            <!-- pagination -->
                            <nav class="ml-4">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link">Previous</a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="#" class="page-link">1</a>
                                    </li>
                                </ul>
                            </nav>
            </div>
            {% endblock %}