{% extends "_base.html" %}
{% set active_page = "home" %}
{% set empty_bg='2' %}

{% block title %}
    <title>K4W | Home page</title>
{% endblock %}

{% block content %}
    <div class="index-block">
        <h2 class="display-3">Hey, I'm a <span class="txt-type" data-wait="3000" data-words='["Python developer", "Backend developer", "Fullstack developer", "Data-scientist"]'></span></h1>
        <p class="subheader">Welcome To My Website</p>
        <div class="social">
            <a href="mailto:keys4words@gmail.com"><i class="fas fa-envelope-open"></i></a>
            <a href="skype:snow_shaman?chat"><i class="fab fa-skype"></i></a>
            <a href="https://github.com/keys4words" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://telegram.me/ZiMaxi"><i class="fab fa-telegram-plane"></i></a>
		</div>
    </div>
{% endblock %}
