{% extends "_base.html" %}

{% block title %}
    <title>K4W | Login Page</title>
{% endblock %}


{% block content %}
<body class="d-flex flex-column h-100 body-bg2">
    <header>
        <div class="container">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="{{  url_for('index')  }}">K4W</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{  url_for('index')  }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{  url_for('projects')  }}">Projects</a>
                        </li>
                        {% if 'login' not in session %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{  url_for('login')  }}">Login</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{  url_for('logout')  }}">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <!-- end of Navbar -->
        </div>
    </header>

    

    <main class="flex-shrink-0">
        <div class="container">
            <!-- flash message -->
            {% with flash_messages = get_flashed_messages(True) %}
            {% if flash_messages %}
                {% for cat, msg in flash_messages %}
                <div class="alert alert-{{ cat }} alert-dismissible fade show" role="alert">
                    <strong>{{ msg }}!</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- end of flash message -->
            <div class="block-404">
                <h2 class="display-3 text-center mb-3">Login page</h2>
                <form>
                    <div class="mb-3">
                      <label for="login" class="form-label">Your login</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                      <label for="pass" class="form-label">Your Password</label>
                      <input type="password" class="form-control">
                    </div>
                    
                    <button type="submit" class="btn btn-outline-light">Login</button>
                  </form>
            </div>
{% endblock %}