{% extends "_base.html" %}
{% set active_page = "login" %}


{% block title %}
<title>K4W | Login Page</title>
{% endblock %}


{% block content %}

    <div class="block-404 w-50 mx-auto">
        <h2 class="display-3 text-center mb-3">Login page</h2>
        
        <form action="" method="POST" class="form" role="form">
            <div class="mb-2">
                <label for="login" class="form-label">Your login</label>
                <input type="text" class="form-control" name="login">
            </div>
            <div class="mb-2">
                <label for="pass" class="form-label">Your Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-outline-light btn-block mt-5">Login</button>
        </form>
    </div>

{% endblock %}