{% extends "_base.html" %}
{% set active_page = "projects" %}

{% block title %}
<title>K4W | Projects Page</title>
{% endblock %}


{% block content %}

        <div class="block-404">
            <h2 class="display-3 text-center mb-3">My Projects</h2>
            <div class="card-columns">
                <!-- get projects from db -->
                {% for project in projects %}
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/small/'+project.pr_img) }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ project.name }}</h4>
                        {% if project.tags %}
                        <p class=card-text">
                            {% for tag in project.tags %}
                                <span class="mr-2 badge badge-pill badge-{{ tag.bg }}">{{ tag.name }}</span>
                            {% endfor %}
                        {% endif %}
                            <p class="card-text">{{ project.short_desc }}</p>
                            <a class="btn btn-outline-dark" type="button" href="{{ url_for('basic_routes.project', id=project.id) }}">Details</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

{% endblock %}
